/* GLOBAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: "Poppins", sans-serif;
  background: #9ea657; /* warna theme kamu */
}

/* ROOT APP */
#root {
  min-height: 100vh;
}

/* OPTIONAL: GLOBAL BUTTON STYLE */
button {
  cursor: pointer;
  font-family: inherit;
}

/* OPTIONAL: LINK STYLE */
a {
  text-decoration: none;
  color: inherit;
}
